<div class="document">
    <textarea id="report-first" class="report">
            1 Introduction
        The profile of the Australian workforce has altered markedly since the end of World War
        II. Australia has transform ed from a nation of predom inantly Anglo-Celtic cultu re and
        almost full em ployment to one of rich cultural diversity with relatively high
        unemployment. This report exam ines ways in which our workforce has changed,
        focusing on the f ollowing categories: women’s workforce participation rates, m igrant
        workers’ participation rates, e mployment categories, unemployment rates and
        demographic profiles. This repor t will also consider n ew influences affecting the
        workforce.
        This report is an assessable com ponent of the Preparation for Tertiary Studies course at
        Victoria University of Technology, Werribee Campus.
        1.1 Methodology
        Information for this report was sourced from various secondary sources, all listed in the
        Reference List. Data from publications by the Australian Bureau of Statistics also proved
        valuable. This report is not a comprehensiv e review of the ava ilable literature, but
        provides a broad overview of the topic.
        1.2 Scope of the report
        Wherever the term ‘workforce’ on its own is u sed, it is in reference to the Austr alian
        workforce. Where the infor mation refers to a particular state, th is will be noted. The
        period under consideration is 1945 to 2000, although where available data does not cover
        the entire period, this is stated. The re port focuses on several key aspects of the
        Australian workforce, and is not a com prehensive account of al l changes that have
        occurred in the workforce since World War II. 
    </textarea>
    <p class="game-label">Below is the example of the word processing:</p>
    <app-wordle></app-wordle>
    <textarea id="report-second" class="report">
        2. Findings
        2.1 Women’s Workforce Participation Rates
        The overall participation rate of women in the Australian workforce since the end
        of World War II has in creased markedly. The absence of m ale workers during the
        war ‘brought into the workforce considerable numbers of women who had not been
        employed before the war broke out’ (Ryan and Conlon 1989, p. 137). However,
        many women gave up their jobs when the men returned. Their rates of pay
        compared to men were reduced in th e post-war years (Ryan and Conlon 1989, pp.
        140-144). Edna Ryan and Anne Conlon provi de the following table, which shows
        that the proportion of women in the manufacturing industry peaked during the war,
        declined until 1959, and then began to increase gradually.
        Table 1. Proportion of women in the manufacturing industry.
        Males to every
        100 females
        1932-3 239
        1938-9 271
        1943-4 237
        1944-5 250
        1947-8 308
        1951-2 315
        1954-5 325
        1957-8 327
        1958-9 330
        1961-2 326
        1962-3 319
        Over the next 29 years, cam paigns for equal pay (or at leas t for better than 75 per
        cent of the male rate for the same work) took place across many industries, and this
        was achieved in principle in 1974 (Ryan and Conlon 1989, ch. 6).
        In 1945, 24 per cent of the workforce in Australia was women (Zajdow 1995, p. 3).
        By 1947, this had dropped back to 22.4 per cent. In 1973, this had increased to 33
        per cent (Ryan and Conlon 1989, p. 174). In 1993, wom en made up 52 per cent of
        the workforce (Zajdow 1995, p. 3).
        The increase in married women in the workforce has been particularly marked.
        ‘In 1947 only 15.3 per cent of wom en in the female labour force were
        married, or 3.4 per cent of the tota l labour force. In 1971 56.8 per cent
        of women in the fem ale labour force were married, or 18 per cent of
        the total labour force.’ (Ryan and Conlon 1989, p. 174)
    
        Version 1.0
        Concurrent Study Research Report Page 5
        Married women’s participation increased rapidly after 1971. This is due, in part, to
        the fact that until the 1950s, women in government employment, including teachers
        and university staff, had been required to leave their jobs upon m arrying. In 1971,
        36 per cent of all m arried women were in paid work. In 1995, 55 per cent of all
        married women were in paid work. During this time, the proportion of men in paid
        work declined by 10 per cen t, and the proportion of un married women has stayed
        the same (Norris and Wooden 1996, p. 2).
        Much of the growth in wom en’s employment has occurred as wom en have moved
        from the ‘feminine’ careers of teaching a nd nursing into resp ectable ‘white collar’
        industries such as banking and retailing (Game and Pringle 1983, p. 19).
        Participation in the workforce is uneven across different groups of wom en such as
        sole parents and Aboriginal and Torres St rait Islanders who have lower rates of
        participation. However, the particip ation rate of women in ge neral is higher now
        than at the conclusion of World War II (Zajdow 1995, p3; Ryan and Conlon 1989,
        p. 174). 
    </textarea>
</div>