<div class="header">
    <div>
        <img src="images/Microsoft-Word-Logo.png" alt="Logo" class="logo">
        <span>AutoSave</span>
        <fa-icon [icon]="icons.faToggleOff"></fa-icon>
        <fa-icon [icon]="icons.faFloppyDisk"></fa-icon>
        <fa-icon [icon]="icons.faArrowRotateBackward"></fa-icon>
        <fa-icon [icon]="icons.faArrowRotateForward"></fa-icon>
        <span>Document1 - Word</span>
    </div>
    <span class="input">
        <fa-icon [icon]="icons.faMagnifyingGlass"></fa-icon>
        <input type="text" placeholder="Search" class="search">
    </span>
    <div>
        <button class="button"><fa-icon [icon]="icons.faUser"></fa-icon></button>
        <button class="button"><fa-icon [icon]="icons.faWindowMinimize"></fa-icon></button>
        <button class="button"><fa-icon [icon]="icons.faWindowRestore"></fa-icon></button>
        <button class="button"><fa-icon [icon]="icons.faWindowClose"></fa-icon></button>
    </div>
</div>
